/********************
    GENERAL STYLES
********************/

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*{
  font-family: 'Open Sans', sans-serif;
}

h2{
    color: white;
    margin: 30px 30px 0px 30px;
}

a{
    text-decoration: none;
}

/* Buttons */

.transparent-button-l{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 40px;
    font-size: 12px;
}

/********************
    UTILITES
********************/

.container{
    width: 100%;
}

.row{
    display: flex;
    width: 100%;
    column-gap: 20px;
    flex-wrap: wrap;
    margin-left: 30px;
}

img{
   max-width: 100%;
}

.round-img{
    border-radius: 50%;
}

.overflow-y{
    overflow-y: auto;
}

.justify-end{
    justify-content: flex-end;
}

/* Flex utilites */

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-around{
    justify-content: space-around;
}

.f-wrap{
    flex-wrap: wrap;
}

.row-gap-30{
    row-gap: 30px;
}

/* Margins */

.margin-top-30{
    margin-top: 30px;
}

.margin-bot-30{
    margin-bottom: 30px;
}

.sub-title-margin{
    margin: 10px 30px 0px 30px;
}

/* Paddings */

.padding-y-15{
    padding: 15px 0px;
}

/* Columns */

.col-50{
    width: calc(100% / 2 - 40px);
}

.col-50-player{
    width: calc(50%) 
}

.col-25{
    width: calc(25%);
}


/********************
    POSITIONING
********************/

.p-relative{
    position: relative;
}


/********************
    SITE SECTION
********************/

/* 
SPOTIFY TOP
*/

.spotify-top .container-top{
    display: flex;
    height: calc(100vh - 100px);
}

/* 
SPOTIFY MAIN
*/

.spotify-main{
    height: 100%;
    background-color: #141922;
    width: calc(100vw - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.spotify-main-header{
    position: fixed;
    width: calc(100vw - 50px);
    z-index: 1;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-button-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 15px;
}

.header-button-container:hover{
    scale: 1.1;
    margin-right: 50px;
}

.spotify-main-content{
    margin-top: 75px; 
    padding-top: 20px;
    
}

/* Spotify Main Text settings*/

.music-titles-container{
    margin-top: 2px;
    text-align: center;
}

.music-title-style{
    color: white;
    font-weight: bold;
    padding: 5px 0px;
    font-size: 15px;

}

.music-subtitle-style{
    color: #717171;
    font-size: 13px;
}

/* Spotify Main Img hover settings*/

.music-img-container{
    position: relative;
    display: flex;
}

.recently-played-section
.col-50:hover h3{
    text-decoration: underline;
    color: white;
}

.created-for-you-section
.col-50:hover h3{
    text-decoration: underline;
    color: white;
}

.popular-artist-section
.col-50:hover h3{
    text-decoration: underline;
    color: white;
}

/* OVERLAY */

.music-img-container:hover .player-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: none;
}

.player-overlay .fa-play{
    color: white;
    padding: 10px 15px;
    background-color: transparent;
    border: 5px solid white;
    max-width: 100%;
    border-radius: 50%;
}


/* SPOTIFY NAVIGATION LIST */

.navigation-list{
    display: block;
    display: flex;
    justify-content: center;
    margin: 0px 20px;

}

.navigation-list ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.navigation-list ul li{
    padding: 5px 15px;
    font-size: 12px;
    
}

.navigation-list ul li a{
    color: white;
}

.navigation-list ul li:hover{
    text-decoration: underline;
    color: white;
}

.nav-active{
    border-bottom: 3px solid rgb(16, 184, 16);   
}

/* END FO SPOTIFY NAVIGATION LIST */


/* SIDEBAR LOGO */

.logo{
    width: 150px;
}

.logo-small{
    width: 20px;
    height: 20px;
}

.user-logo{
    background-color: #717171;
    border-radius: 50%;
    vertical-align: middle;
}

.arrow-small{
    color: white;
    border: solid 1px white;
    border-radius: 50%;

}


/* 
SIDEBAR
 */


.sidebar{
    display: flex;
    height: calc(100vh - 100px);
    width: 50px;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
}

.top-sidebar{
    width: 100%;
}

.bot-sidebar{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.icon{
   vertical-align: middle;
   height: 25px;
   max-width: 100%;
   margin-right: 5px;
}

/* Sidebar Only icon list */

.only-icon-ul-top,
.only-icon-ul-bot{
    text-align: center;
    padding: 10px 0px;
    list-style-type: none;
    
}

.only-icon-ul-top li{
    padding: 10px 0px;
}

/* Sidebar playlist list */

.playlist-section{
    margin-left: 20px;
    padding-top:15px;
}

.pl-list{
    list-style: none;
    padding: 10px 0px;

}

.pl-list li{
    cursor: pointer;
    color:#717171;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 13px;
}

.new-pl-button{
    cursor: pointer;
    padding: 13px;
    background-color: #717171;
    border: transparent;
    margin-right: 10px;
}

/* Playlist hover */

.pl-list li:hover{
    color: #fff;
}

.pl-button-container:hover .new-pl-button{
    background-color: white;
}

.pl-button-container:hover span{
    color: white;
}

/* BOT */

.only-icon-ul-bot li{
    margin: 15px 0px 0px 0px;
}


/* 
SIDEBAR ICON AND TEXT LIST
 */


/* TOP */

.icon-and-text-container{
    display: none;
}

.icon-and-text-ul{
    list-style-type: none;
    padding: 10px 0px;
    margin-left: 20px;
}

.icon-and-text-ul li{
    cursor: pointer;
    color: #717171;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 13px;
}

.icon-and-text-ul li:hover {
    color: #fff;
}


/* BOT */

.icon-and-text-ul-bot-container{
    width: 100%;
}

.sidebar-download-text{
    color: #717171;
    font-weight: bold;
    margin-left: 10px;
    font-size: 11px;
    vertical-align: middle;
}

.user-text{
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
}

.sidebar-hr{
    color: #717171;
    width: 80%;
}

.download-arrow{
    color: #717171;
    padding: 9px 6px;
    border: 1px solid #717171;
    border-radius: 50%;
    vertical-align: middle;
}


.icon-and-text-ul-bot-container{
    display: none;
    margin-left: 20px;
}

.icon-and-text-ul-bot{
    padding: 10px 0px;
}

.icon-and-text-ul-bot li{
    cursor: pointer;
    margin: 10px 0px 10px 0px;
}

/* Hover */

.download-li:hover span{
    color: white;
}

.download-li:hover i{
    color: white;
    border-color: white;
}

/* 
END OF SPOTIFY TOP
*/


/* 
SPOTIFY BOTTOM
*/

.spotify-bottom{
    height: 100px;
    background-color: #282828;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.player{
    height: 100%;
}

.container-bot{
    height: 100%;
}

/* Player  */

.player-row{
    display: flex;
    height: 100%;
}

/* 
LEFT PLAYER SIDE
 */

.left-player-section{
    align-items: center;
    justify-content: center;
}

.player-song-img-container{
    display: flex;
    justify-content: flex-end;
    max-height: 100%;
    margin: 0px 8px 0px 10px;
}

.player-song-img{
    width: 80%;
}

.player-song-name-container h5{
    color: white;
    font-size: 9px;

}

.player-song-name-container h6{
    color: #717171;
    font-size: 8px;

}

/* 
END OF LEFT PLAYER SIDE
 */


/* 
MIDDLE SIDE PLAYER
 */

.middle-player-icon-list{
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.middle-player-icon-list li{
    padding: 0px 12px;
    
}


.song-time-text{
    color: white;
    font-weight: bold;
    font-size: 11px;
}

.song-time-bar-container{
    display: flex;
    justify-content: center;
}

/* SONG TIME BAR */

.song-time-bar-container input[type="range"] {
    cursor: pointer;
    width: 65%;
    background-color: transparent;
}

.song-time-bar-container input[type="range"]::-moz-range-track {
    border-radius: 5px;
    background-color: #717171;
    height: 5px;
}


.song-time-bar-container input[type="range"]::-moz-range-thumb {
    height: 0px;
    width: 0px;

}

.song-time-bar-container input[type="range"]::-moz-range-progress {
    background-color: #D2D2D2;
    height: 5px;
    border-radius: 5px;
}

.song-time-bar-container:hover input[type="range"]::-moz-range-progress {
    background-color: rgb(108, 238, 108);
    height: 5px;
    border-radius: 5px;
}
  
.song-time-bar-container:hover input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 10px;
}

#song-time-bar{
    margin: 0px 10px 10px 10px;
    
}

/* 
END OF MIDDLE SIDE PLAYER
 */


/* 
RIGHT PLAYER SIDE
 */

 
/* VOLUME BAR */

.volume-bar-container input[type="range"] {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.volume-bar-container input[type="range"]::-moz-range-track {
    border-radius: 5px;
    background-color: #717171;
    height: 5px;
}


.volume-bar-container input[type="range"]::-moz-range-thumb {
    height: 0px;
    width: 0px;

}

.volume-bar-container input[type="range"]::-moz-range-progress {
    background-color: #D2D2D2;
    height: 5px;
    border-radius: 5px;
}

.volume-bar-container:hover input[type="range"]::-moz-range-progress {
    background-color: rgb(108, 238, 108);
    height: 5px;
    border-radius: 5px;
}

.volume-bar-container:hover input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 10px;

}

#volume-bar{
    margin-right: 10px;
    
}


/* 
END OF RIGHT PLAYER SIDE
 */


/* 
PLAYER LIST SETTING
 */

.left-player-icon-list,
.right-player-icon-list{
    list-style-type: none;
    margin-left: 5px;
}

/* ICONS */

.middle-player-icon-list .fa-play{
    padding: 13px 8px;
    background-color: transparent;
    border: solid 2px #838181;
    border-radius: 50%;
}

.middle-player-icon-list i{
    color: #838181;
}

.right-player-icon-list i{
    color: #838181;
}

.left-player-icon-list i{
    color: #838181;
}

.fa-volume-up{
    color: white;
    margin-left: 10px;
    vertical-align: middle;
}

/* ICONS Hover */

.middle-player-icon-list i:hover{
    color: #fff;
}

.right-player-icon-list i:hover{
    color: #fff;
}

.left-player-icon-list i:hover{
    color: #fff;
}

.middle-player-icon-list .fa-play:hover{
    border: solid 2px #fff;
}

/* Player img text Hover */

.player-song-name-container h6:hover{
    color: white;
}

/* 
End Of Spotify Bottom  
*/

/* COLORS AND STYLES*/

.white{
  color: white;
}

.grey{
  color: #717171;
}

.light-grey{
  color: #D2D2D2;
}

.bg-black{
  background-color: black;
}

.bg-dark-blue{
    color: #141922;
}

.bg-dark-grey{
    color: #282828;
}



/********************
    MEDIA QUERIES
********************/

@media screen and (min-width: 450px) {

    .player-overlay .fa-play{
        color: white;
        padding: 20px 25px;
        background-color: transparent;
        border: 8px solid white;
        max-width: 100%;
        border-radius: 50%;
    }
    
}

@media screen and (min-width: 576px){

    .sidebar{
        height: 100%;
        width: 250px;
        background-color: black;
        justify-content: start;
    }

   .fa-magnifying-glass,
   .fa-house,
   .fa-bars{
    margin-right: 8px;
   }
    
    .spotify-main-header{
        width: calc(100vw - 250px);
    }

    .spotify-main{
        width: calc(100vw - 250px);
    }

    .only-icon-ul-top{
        display: none;
    }
    
    .only-icon-ul-bot{
        display: none;
    }

    .bot-sidebar{
        justify-content: flex-start;
    }

    .icon-and-text-ul-bot-container{
        display: block;
    }

    .icon-and-text-container{
        display: block;
    }
    
    /* PLAYER SECTION */

    .middle-player-icon-list li{
        padding: 0px 15px;
    }

    .player-song-name-container{
        margin-right: 5px;
    }

    .player-song-name-container h5{
        color: white;
        font-size: 13px;
    
    }
    
    .player-song-name-container h6{
        color: #717171;
        font-size: 11px;
    
    }

    .player-song-img{
        max-width: 55px;
        max-height: 55px;
    }

}

@media screen and (min-width: 790px){

    .spotify-main{
        overflow-x: hidden;
    }

    .spotify-main 
    .recently-played-section .row .col-50{
        width: calc(100% / 3 - 40px);
        
    }

    .spotify-main
    .created-for-you-section .row{
        width: 60%;
    }

    .spotify-main
    .popular-artist-section .row{
        width: 60%;
    }
    
    .song-time-bar-container{
        width: 80%;
    }

    .song-time-bar-container input[type="range"] {
        width: 100%;
        background-color: transparent;
    }

}

@media screen and (min-width: 992px){

    .spotify-main{
        overflow-x: hidden;
    }

    .spotify-main 
    .recently-played-section .row .col-50{
        width: calc(100% / 4 - 40px);
        
    }
    
    .spotify-main
    .created-for-you-section .row{
        width: 60%;
    }

    .spotify-main
    .popular-artist-section .row{
        width: 60%;
    }

    .middle-player-icon-list li{
        padding: 0px 20px;
    }

   .left-player-section{
    justify-content: flex-start;
   }

   .header-button-container:hover{
    scale: 1.1;
    margin-right: 120px;
}


}

@media screen and (min-width: 1200px){

    .spotify-main{
        overflow-x: hidden;
    }

    .spotify-main 
    .recently-played-section .row .col-50{
        width: calc(100% / 6 - 25px);
        
    }

    .spotify-main
    .created-for-you-section .row{
        width: 45%;
    }

    .spotify-main
    .popular-artist-section .row{
        width: 45%;
    }

    .col-25 .col-left{
        justify-self: flex-start;
    }

    .col-25 .col-right{
        justify-self: flex-end;
    }
}