/********************
    GENERAL STYLES
********************/

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*{
  font-family: 'Open Sans', sans-serif;
}

h2{
    color: white;
    margin: 30px 20px;
}

/********************
    UTILITES
********************/

.content{
    height: 150px;
    background-color: red;
    width: 100%;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
   max-width: 100%;
}

.overflow-y{
    overflow-y: auto;
}

/* Flex utilites */

.space-around{
    justify-content: space-around;
}

.f-wrap{
    flex-wrap: wrap;
}

.row-gap-30{
    row-gap: 30px;
}

/* Margins */

.margin-top-30{
    margin-top: 30px;
}

/* Paddings */

.padding-y-15{
    padding: 15px 0px;
}

/* Columns */

.col-50{
    width: calc(100% / 2 - 40px);
}

/********************
    POSITIONING
********************/



/********************
    SITE SECTION
********************/

/* Spotify Top  */

.spotify-top .container-top{
    display: flex;
    height: calc(100vh - 100px);
    background-color:blue;
}

/* Sporify Main */

.spotify-main{
    height: 100%;
    background-color: #141922;
    width: calc(100vw - 50px);
    overflow-y: auto;
}

.spotify-main-header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.spotify-main-content{
    margin-top: 100px; 
    padding-top: 30px;
    
}

/* Spotify navigation list */

.navigation-list{
    display: block;
    display: flex;
    justify-content: center;
    margin: 0px 20px;

}

.navigation-list ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.navigation-list ul li{
    color: white;
    padding: 5px 15px;
    font-size: 12px;
    
}


/* Sidebar Logo */

.spotify-logo{
    filter: brightness(0) invert(1);
    height: 100px;
}

/* Sidebar  */

.sidebar{
    display: flex;
    height: 100%;
    width: 50px;
    background-color: black;
    justify-content: center;
}

.fa-magnifying-glass,
.fa-house,
.fa-bars{
    color: #717171;
}

/* Sidebar Only icon list */

.only-icon-ul{
    text-align: center;
    padding: 10px 0px;
    list-style-type: none;
    
}

.only-icon-ul li{
    padding: 5px 0px;
}

/* Sidebar icon and text list */

.icon-and-text-container{
    display: none;
    
    
}

.icon-and-text-ul{
    list-style-type: none;
    padding: 10px 0px;
    margin-left: 20px;

}

.icon-and-text-ul li{
    color: #717171;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 13px;
    
}

/* Sidebar playlist list */

.playlist-section{
    margin-left: 20px;
    padding-top:15px;
}

.pl-list{
    list-style: none;
    padding: 10px 0px;

}

.pl-list li{
    color:#717171;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 13px;
}


/* Spotify Bottom  */

.spotify-bottom .container-bot{
    height: 100px;
    background-color: #282828;
}
/* Player  */



/* COLORS AND STYLES*/

.white{
  color: white;
}

.grey{
  color: #717171;
}

.light-gray{
  color: #D2D2D2;
}

.bg-black{
  background-color: black;
}

.bg-dark-blue{
    color: #141922;
}

.bg-dark-grey{
    color: #282828;
}


/********************
    MEDIA QUERIES
********************/

@media screen and (min-width: 576px){

    .sidebar{
        height: 100%;
        width: 250px;
        background-color: black;
        justify-content: start;
    }
    
    .only-icon-ul{
        display: none;
    }

    .icon-and-text-container{
        display: block;
    }
    

}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
    
}

@media screen and (min-width: 1200px){
    
}